
.motor {
    height: 195px;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 23%;
    margin-top: -13%;
    border-style: solid;
    border-color: #ff4747;
}

.round-button {
    display: block;
    width: 80px;
    height: 80px;
    line-height: 86px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #ff4747;
    box-shadow: 0 0 3px grey;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.round-button:hover {
    background-color: crimson;
}